@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1772800633052') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan60:before {
  content: "\e606";
}

.icon-ziyuan55:before {
  content: "\e605";
}

.icon-ziyuan56:before {
  content: "\e607";
}

.icon-QQzhanghao:before {
  content: "\e5e8";
}

.icon-weixinzhanghao:before {
  content: "\e5eb";
}

.icon-zhifubaozhanghao:before {
  content: "\e5ec";
}

.icon-a-016_dizhibu:before {
  content: "\e65c";
}

.icon-a-016_ditudingwei:before {
  content: "\e65d";
}

.icon-a-016_dingdan-04:before {
  content: "\e65e";
}

.icon-a-016_gouwuche:before {
  content: "\e65f";
}

.icon-a-016_gengduo:before {
  content: "\e660";
}

.icon-a-016_gouwudai:before {
  content: "\e661";
}

.icon-a-016_huiyuandengji:before {
  content: "\e662";
}

.icon-a-016_fenxiang:before {
  content: "\e663";
}

.icon-a-016_liulanjilu:before {
  content: "\e664";
}

.icon-a-016_lianxikefu:before {
  content: "\e665";
}

.icon-a-016_quxiao-89:before {
  content: "\e666";
}

.icon-a-016_queding:before {
  content: "\e667";
}

.icon-a-016_quanbu:before {
  content: "\e668";
}

.icon-a-016_saoyisao:before {
  content: "\e669";
}

.icon-a-016_shoucang-36:before {
  content: "\e66a";
}

.icon-a-016_sixin:before {
  content: "\e66b";
}

.icon-a-016_sousuo:before {
  content: "\e66c";
}

.icon-a-016_shangdian-27:before {
  content: "\e66d";
}

.icon-a-016_shezhi:before {
  content: "\e66e";
}

.icon-a-016_shangwuhezuo:before {
  content: "\e66f";
}

.icon-a-016_tianjiaxihuan:before {
  content: "\e670";
}

.icon-a-016_tongzhi-35:before {
  content: "\e671";
}

.icon-a-016_wode:before {
  content: "\e672";
}

.icon-a-016_tianxiedizhi-37:before {
  content: "\e673";
}

.icon-a-016_tishi:before {
  content: "\e674";
}

.icon-a-016_wodehaoyou:before {
  content: "\e675";
}

.icon-a-016_xiaoxi:before {
  content: "\e676";
}

.icon-a-016_yiwen:before {
  content: "\e677";
}

.icon-WhatsApptzhanghao:before {
  content: "\e5f7";
}

